.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
/*Header*/
.bg-header {
	background: url(../img/header-bg.png) no-repeat center;
	height: 700px;
	background-size: cover;
}
.header-block {
	padding: 50px 210px 0;
	color: #ffffff;
}
.header-top {
	display: flex;
	justify-content: space-between;
	
}
.logo {
	display: flex;
	align-items: center;
}
.logo__text {
	padding-left: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}
.logo__text-up {
	text-transform: uppercase;
	font-weight: bold;
}
.contact {
	font-size: 18px;
	text-align: right;
}
.contact__sup {
	text-decoration: underline;
	font-size: 12px;
}
.header-content {
	padding-top: 180px;
	max-width: 315px;
}
.header-content__heading {
	font-size: 45px;
	font-weight: bold;
}
.header-content__text {
	font-size: 18px;
	padding: 30px 0 60px;
	line-height: 25px;
}
.btn {

	color: #ffffff;
	background: #0078ff;
	padding: 17px 40px;
	border-radius: 30px;
}
/*advamtages*/
.section-one {
	position: relative;
	height: 715px;
}
.section-one:before {
	content: '';
	display: block;
	background: url(../img/pattern1.png) no-repeat;
	width: 608px;
	height: 627px;
	position: absolute;
	bottom:0;
	right: 0;
	overflow: hidden;
}
.advantages {
	
}
.advantages-content {
	color: #000;
	padding-left: 210px;
	padding-top: 70px;	
}
.advantages-content__heading {
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 45px;
}
.advantages-content__inf {
	padding-bottom: 60px;
}
.advantages-content__list {
	max-width: 585px;
	font-size: 18px;
	list-style: none;
	position: relative;
	line-height: 25px;
	padding-bottom: 30px;
}
.advantages-content__list:after {
	content: '';
	display: block;
	background: url(../img/advantages-icon.png) no-repeat;
	width: 22px;
	height: 22px;
	position: absolute;
	top:0;
	left: -5%;
}
/*partners*/
.partners {
	background-size: cover;
	background: #f8f8f8;
}
.partners-block {
	height: 312px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*notifications*/
.notifications {
	background: #0078ff;
	background-size: cover;
	color: #ffffff;
	text-transform: uppercase;
}
.notifications-content {
	text-align: center;
	padding-top: 105px;
}
.notifications-content__text {
	text-align: center;
	font-size: 28px;
	line-height: 36px;
}
.notifications-content__box {
	padding-top: 70px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 70px;
}
.notifications-text {
	padding-top: 20px;
	display: block;
	font-size: 14px;
	line-height: 20px;
}
/**/
.section-two {
	position: relative;
	
}
.section-two:before {
	content: '';
	display: block;
	background: url(../img/pattern2.png) no-repeat;
	width: 407px;
	height: 476px;
	position: absolute;
	top:0;
	right: 0;
	overflow: hidden;
}
.rate-content {
	padding-top: 120px;
	color:#000000;
	padding-left: 210px;
}
.rate-content__heading {
	font-size: 45px;
	line-height: 50px;
	padding-bottom: 65px;
}
.rate-content__text {
	font-size: 18px;
	line-height: 25px;
	padding-bottom: 55px;
	max-width: 610px;
}
.rate-price {
	padding-top: 90px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.rate-price__box {
	background: #fafafa;
	padding: 40px 25px 35px;
	text-align: center;
	font-size: 18px;
	margin-right: 15px;
	line-height: 22px;
	font-weight: bold;
}
.rate-price__box:lash-child {
	margin-right: 0;
}
.rate-price__box_line {
	padding-top: 15px;
	font-weight: normal;
}
.rate-price__box_line:after {
	content: '';
	display: block;
	width: 35px;
	height: 2px;
	background: #0078ff;
	margin: 10px auto 10px;
	width: 120px;
}
/*static*/
.static {
	background: #212121;
	height: 560px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
}
.static:after {
	content: '';
	display: block;
	background: url(../img/pattern3.png) no-repeat;
	width: 503px;
	height: 208px;
	position: absolute;
	bottom:0;
	left: 0;
	overflow: hidden;
}
.static:before {
	content: '';
	display: block;
	background: url(../img/pattern4.png) no-repeat;
	width: 486px;
	height: 168px;
	position: absolute;
	bottom:0;
	right: 0;
	overflow: hidden;
}
.static-content {
	padding-top: 130px;
}
.static-content__heading {
	font-size: 24px;
	padding: 0 100px;
	line-height: 32px;
}
.static-content__box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 85px;
	padding-bottom: 90px;
	padding-left: 120px;
	padding-right: 120px;

}
.static-content__box_list {
	font-size: 16px;
	line-height: 26px;
}
.static-content__box_text {
	font-size: 22px;
	line-height: 28px;
}
.static-content__box_text:after {
	content: '';
	display: block;
	width: 35px;
	height: 2px;
	background: #0078ff;
	margin: 10px auto 10px;
	width: 120px;
}

/*footer*/
.page-footer {
	height: 162px;
	background: #fff;
	color: #000000;
}
.footer-copyright {
	padding: 62px 0;
	font-size: 14px;
	line-height: 18px;
}

/*Adaptive*/

/*Header*/
@media (max-width: 1050px) {
	.bg-header {
		height: auto;
	}
	.header-top {
		display: inline-block;
	}
	.header-block {
		text-align: center;
		padding: 50px 0;
		display: block;
	}
	.header-content {
		margin: 0 auto;
		padding-top: 50px;

	}
	.contact {
		text-align: center;
	    padding-top: 30px;
	}
	.header-content__heading {
		font-size: 30px;
	}
	.logo {
		margin-right: 15px;
	}
	
}
/*advamtages*/ 
@media (max-width: 1150px) {
	.section-one:before {
	width: 500px;
	height: 550px;	
	}
}
@media (max-width: 1050px) {
	.section-one:before {
	display: none;	
	}
	.advantages-content {
		padding: 0 0 0 30px;
		text-align: center;
		margin-left: 15px;
    	margin-right: 15px;
	}
	.advantages-content__heading {
		text-align: center;
	}
	.advantages-content__list {
    	text-align: start;
    	margin: 0 auto;
	}
	.advantages-content__list:after {
    left: -7%;
	}
}
@media (max-width: 500px) {
	.section-one {
		height: 590px;
	}
	.advantages-content__heading {
		font-size: 28px;
	}
	.advantages-content__inf {
    padding-bottom: 30px;   
	}
	.advantages-content__list:after {
    left: -9%;
	}
}
@media (max-width: 420px) {
	.section-one {
		height: 690px;
	}
	
}
/*notifications*/
@media (max-width: 1050px) {
	.notifications-content__text {
		font-size: 22px;
		line-height: 28px;
	}
	.notifications-content__box {
		justify-content: center;
		
	}
	.notifications-content__box_item {
		width: 30%;

	}
}
@media (max-width: 670px) {
	.notifications-content__text {
		font-size: 16px;
		margin: 0 15px;
		line-height: 22px;
		text-align: center;
	}
	.notifications-content__box {
		justify-content: center;
		
	}
	.notifications-content__box_item {
		width: 30%;

	}
}
@media (max-width: 570px) {
	.notifications-content__box {
		justify-content: space-around;
		
	}
	.notifications-content__box_item {
		width: 50%;
	}
}
@media (max-width: 470px) {
	.notifications-content {
		padding-top: 50px;
	}
	.notifications-content__box {
		justify-content: space-around;
		padding-top: 20px;
		padding-bottom: 30px;
		
	}
	.notifications-content__box_item {
		width: 100%;
		padding: 10px 0;
	}
}

/*rate*/
@media (max-width: 1430px) {
	.section-two:before {
    width: 300px;
	}
}
@media (max-width: 1216px) {
	.section-two:before {
    	display: none;
	}
	.rate-price__box {
    margin: 20px 15px 0;
    width: 25%;

	}
}
@media (max-width: 1125px) {
	.section-two {
		text-align: center;
	}
	.rate-content {
		padding-left: 0;
		padding-top: 50px;
	}
	.rate-content__heading {
		text-align: center;
	}
	.rate-content__text {
		margin: 0 auto;
		text-align: start;
	}
	.rate-price {
		padding: 50px 0;
	}
}
@media (max-width: 760px) {
	.rate-price {
    	justify-content: center;
	}
	.rate-price__box {
    width: 35%;
	}
	.rate-content__text, .rate-content__heading {
		margin: 0 15px;

	}
	.rate-content__text {
		max-width: inherit;
		text-align: center;
	}
}
@media (max-width: 760px) {
	.rate-price {
    	justify-content: space-around;
	}
	.rate-price__box {
    width: 42%;
	}
}

/*static*/
@media (max-width: 1170px) {
	.static:after {
		display: none;
	}
	.static:before {
		display: none;
	}
	.static {
		height: auto;
	}
	.static-content {
    padding: 50px 0;
	}
	.static-content__box {
	    justify-content: center;
	    padding: 30px 100px 70px;
	}
	.static-content__box_list {
	    width: 30%;
	    padding-top: 30px;
	}
}
@media (max-width: 860px) {
	.static-content__heading {
    padding: 0 50px;
	}
	.static-content__box {
	    justify-content: center;
	    padding: 30px 10px 70px;
	}
	.page-footer {
		text-align: center;
	}
}
@media (max-width: 620px) {
	.static-content__box_list {
	    width: 60%;
	    
	}
	.static-content__heading {
    font-size: 18px;
    	line-height: 26px;
	}
}